body {

}

.content {

}

button {
    margin: 10px;
}

span.stateAsking {
    font-style: italic;
}

.statusOk, span.stateCompleted {
    color: green;
    font-weight: bold;
}

span.stateRunning {
    font-weight: bold;
    color: coral;
}

.statusFail {
    color: red;
    font-weight: bold;
}

.spectraStateSuccess {
    font-weight: bold;
    color: green;
}

.spectraStatePending {
    font-weight: bold;
    color: coral;
}

.spectraStateFailed {
    font-weight: bold;
    color: red;
}

.headerRow {

}

#recentDownloads {

}

#createNewJob {

}

.hidden {
    display: none;
}

#jobListTable, #spectraTable{
    border-collapse: collapse;
    width: 100%;
}


#jobListTable td, #jobListTable th, #spectraTable td, #spectraTable th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#jobListTable tr:nth-child(even), #spectraTable tr:nth-child(even) {
    background-color: #f2f2f2
}

#jobListTable tr:hover, #spectraTable tr:hover{
    background-color: #ddd;
}

#jobListTable th, #spectraTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}

#parsingResult table {
    border-collapse: collapse;
}

#parsingResult td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#parsingResult tr td:first-child {
    background-color: #4CAF50;
    color: white;
}

#parsingResult tr:hover {
    background-color: #ddd;
}

.frame {
    border: 1px solid #444;
    box-shadow: 5px 5px 5px #999;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 20px;
}

.frame h2 {
    margin-top: 0;
}