span.stateAsking {
    font-style: italic;
}

.statusOk, span.stateCompleted {
    color: green;
    font-weight: bold;
}

span.stateRunning {
    font-weight: bold;
    color: coral;
}

.statusFail {
    color: red;
    font-weight: bold;
}

.spectraStateSuccess {
    font-weight: bold;
    color: green;
}

.spectraStatePending {
    font-weight: bold;
    color: coral;
}

.spectraStateFailed {
    font-weight: bold;
    color: red;
}

.headerRow {

}

#recentDownloads {

}

#createNewJob {

}

.hidden {
    display: none;
}