@import utils.model.JobInfo

@(jobs: Array[JobInfo])
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Spectra downloader</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script>
            var jobCount = @jobs.length;
            var incompleted = false;
            function refreshState(dataArr){
                for (var i = 0; i < jobCount && i < dataArr.length; i++){
                    var target = dataArr[i].id;
                    var span = $("#asyncJobState" + target);
                    var tmp = false;
                    if (dataArr[i].finished){
                        span.removeClass("stateAsking").removeClass("stateRunning");
                        span.addClass("stateCompleted");
                        span.text("Completed");
                    } else {
                        tmp = true;
                        span.removeClass("stateAsking");
                        span.addClass("stateRunning");
                        span.text("Running");
                    }
                    if (incompleted) incompleted = tmp;
                    else if (tmp) incompleted = true;
                    else if (tmp) incompleted = true;
                }
            }
                //on document ready ask for job states
                $(function(){
                    $.get("@routes.ApiController.jobStates", function(json){
                        refreshState(json.jobs);
                        //setup interval
                        if (incompleted){
                            var interval = setInterval(function(){
                                $.get("@routes.ApiController.jobStates", function(jsonC){
                                    refreshState(jsonC.jobs);
                                    if (!incompleted){
                                        clearInterval(interval);
                                    }
                                });
                            }, 5000);//5 seconds
                        }
                    });
                });
        </script>
    </head>
    <body>
        <div class="content">
            <h1>Spectra downloader</h1>
            <div id="recentDownloads">
                <h2>Recent download jobs</h2>
                @jobListTable(jobs)
            </div>
            <div id="createNewJob">
                <h2><a href="@routes.CreateNewJobController.index">Create new job</a></h2>
            </div>
        </div>
    </body>
</html>

