@import utils.model.JobInfo

@(jobs: Array[JobInfo])
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Spectra downloader</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script>
                //on document ready ask for job states
                $(function(){
                    var jobCount = @jobs.length;
                    $.get("@routes.ApiController.jobStates", function(json){
                        var dataArr = json.jobs;
                        for (var i = 0; i < jobCount && i < dataArr.length; i++){
                            var target = dataArr[i].id;
                            var span = $("#asyncJobState" + target);
                            if (dataArr[i].finished){
                                span.removeClass("stateAsking");
                                span.addClass("stateCompleted");
                                span.text("Completed");
                            } else {
                                span.removeClass("stateAsking");
                                span.addClass("stateRunning");
                                span.text("Running");
                            }
                        }
                    });
                });
        </script>
    </head>
    <body>
        @* And here's where we render the `Html` object containing
        * the page content. *@
        <h1>Spectra downloader</h1>
        <div id="recentDownloads">
            <h2>Recent download jobs</h2>
            <div id="jobListTable">
            @jobListTable(jobs)
            </div>
        </div>
        <div id="createNewJob">
            <h2><a href="@routes.CreateNewJobController.index">Create new job</a></h2>
        </div>
    </body>
</html>

